:root {
    --textcolor-black: 0, 0, 0;
    --textcolor-white: 255, 255, 255;
    --textcolor-gray: 141, 139, 139;
    --textcolor-blue: 0, 81, 255;
    --bg-color-beige: 211, 211, 183;
    --bg-color-blue: 6, 6, 82;
    --bg-color-lightblue: 0, 81, 255;
}

body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

/* COMMON */
/* bg colors */
.bg-beige {
    background-color: rgb(var(--bg-color-beige));
}

.bg-blue {
    background-color: rgb(var(--bg-color-blue));
}

.bg-lightblue {
    background-color: rgb(var(--bg-color-lightblue));
}

/* text */
.banner-text {
    font-size: .8rem;
    color: rgb(var(--textcolor-blue));
}

.title {
    font-size: 2.2rem;
    color: rgb(var(--textcolor-black));
}

.subtitle {
    font-size: 1rem;
    color: rgb(var(--textcolor-gray));
}

.thumb-title {
    font-size: .9rem;
    color: rgb(var(--textcolor-gray));
    font-weight: normal;
}
.tt-white {
    color: rgb(var(--textcolor-white));
}

.carousel-title {
    font-size: 1.5rem;
    color: rgb(var(--textcolor-white));
}

.carousel-subtitle {
    font-size: 1.2rem;
    color: rgb(var(--textcolor-white));
}

/* buttons */
.btn-orange {
    background-color: orange;
    color: white;
}
/* margin */
.mt-6 {
    margin-top: 4.5rem;
}
.mt-7 {
    margin-top: 6rem;
}
.mt-8 {
    margin-top: 9rem;
}

/* padding */
.px-6 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}
.px-7 {
    padding-right: 6rem;
    padding-left: 6rem;
}
.px-8 {
    padding-right: 9rem;
    padding-left: 9rem;
}

.pt-9 {
    padding-top: 13.5rem;
}
/* HEADER */
.header {
    width: 100%;
}

.logo-sony {
    display: inline-block;
    width: 10%;
}

.logo-play {
    display: inline-block;
    width: 15%;
}

/* dropdown navbar */
.angle-down {
    display: inline-block;
    width: .75rem;
}

.dropdown_angle::after {
    display: inline-block;
    content: url(../img/chevron-down-solid.svg);
    width: .5rem;
}
 /* .dropdown_angle_hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    content: url(../img/chevron-down-solid-hover.svg);
    width: .5rem;
    transition: all 1s;
}  */
 /* .header .navbar .nav-item .dropdown_angle::after:hover {
    display: none;
}
.header .navbar .nav-item .dropdown_angle_hover::after:hover {
    display: inline-block;
} */

.nav_link_my{
    display: block;
    text-decoration: none;
    color: rgb(var(--textcolor-black));
}

.header .navbar-nav .nav-item .dropdown-menu li img {
    display: block;
    width: 3rem;
}

.header .navbar-collapse .search {
    width: 2rem;
}

/* JUMBOTRON RETURNAL */
.jumbo-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CAROUSEL-GAME */
.border-active {
    border-radius: 10px;
    border: 2px solid rgb(0, 60, 255);
}

.img-thumb {
    border-radius: 10px;
}

.thumb-hover {
    transition: all 1s;
}
.thumb-hover:hover {
    cursor: pointer;
    margin-top: -1rem;
}

/* PLAY 5 SECTION */

.btn-hover {
    transition: all 1s;
}
.btn-hover:hover {
    padding: 1px;
    border: 1px solid blue;
}

/* CAROUSEL TOOLS */

@media screen and (min-width:768px) {
    .col_md_five {
        width: calc(100% / 6);
    }
}

.border-bottom-active {
    border-bottom: 2px solid rgb(0, 60, 255);
    cursor: pointer;
}

.thumb-tools img {
    opacity: 0.7;
    transition: all 1s;
}

.thumb-tools:hover img {
    cursor: pointer;
    opacity: 1;
}
/* JUMBOTRON IT TAKES TWO */
.jumbo-it2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* JUMBOTRON PLAYSTATION PLUS */
.jumbo-plus-p {
    color: rgb(var(--textcolor-black));
}

/* JUMBOTRON PLAYSTATION NOW */
.jumbo-playnow-p {
    color: rgb(var(--textcolor-white));
}

/* FOOTER */
.footer .ps-logo {
    width: 6rem;
}

.footer .globe {
    width: 1rem;
}

.footer .foot-text {
    font-size: .7rem;;
    color: rgb(var(--textcolor-white));
}

.footer ul li a {
    font-size: .7rem;
}

.footer .sie-logo {
    width: 6rem;
}