:root {
    --textcolor-black: 0, 0, 0;
    --textcolor-white: 255, 255, 255;
    --textcolor-gray: 141, 139, 139;
    --textcolor-blue: 0, 81, 255;
}

body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

/* COMMON */

/* buttons */
.btn-orange {
    background-color: orange;
    color: white;
}
/* margin */
.mt-6 {
    margin-top: 4.5rem;
}
.mt-7 {
    margin-top: 6rem;
}
.mt-8 {
    margin-top: 9rem;
}

/* padding */
.px-6 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}
.px-7 {
    padding-right: 6rem;
    padding-left: 6rem;
}
.px-8 {
    padding-right: 9rem;
    padding-left: 9rem;
}

.pt-9 {
    padding-top: 13.5rem;
}
/* HEADER */
.header {
    width: 100%;
}

.logo-sony {
    display: inline-block;
    width: 10%;
}

.logo-play {
    display: inline-block;
    width: 15%;
}

/* dropdown navbar */
.angle-down {
    display: inline-block;
    width: .75rem;
}

.dropdown_angle::after {
    display: inline-block;
    content: url(../img/chevron-down-solid.svg);
    width: .5rem;
}
/* .dropdown_angle_hover::after {
    display: none;
    content: url(../img/chevron-down-solid-hover.svg);
    width: .5rem;
} */
/* .header .navbar .nav-item .dropdown_angle::after:hover {
    display: none;
    content: url(../img/chevron-down-solid.svg);
    width: .5rem;
}
.header .navbar .nav-item .dropdown_angle_hover::after:hover {
    display: inline-block;
    content: url(../img/chevron-down-solid-hover.svg);
    width: .5rem;
} */

.nav_link_my{
    display: block;
    text-decoration: none;
    color: rgb(var(--textcolor-black));
}

.header .navbar-nav .nav-item .dropdown-menu li img {
    display: block;
    width: 3rem;
}

.header .navbar-collapse .search {
    width: 2rem;
}

/* JUMBOTRON RETURNAL */
.jumbo-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

